---
---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Dawn of DAO, a tool built by <a
      href='https://github.com/TeamTaoist/'
      target='_blank'
      class='text-blue'>TeamTaoist</a
    >
  </p>
</footer>
